<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {{ t }} </title>
</head>
<div class="p-10">
    <div class="w-full lg:max-w-full lg:flex border-r border-b border-l rounded-lg border-gray-400 lg:border-t lg:border-gray-400 shadow-md hover:bg-gray-100 duration-150">
        <a class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image:  url('{{url}}/avatars/{{ post.author }}.jpg')" href="{{url}}/user/{{post.author}}">  </a>
            <div class="rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div class="mb-8">
                    <div class="text-gray-900 font-bold text-xl mb-2">{{ post.title }}</div>
                    <p class="text-gray-700 text-base">{{ post.body }}</p>
                </div>
                <div class="flex items-center">
                    <div class="text-sm">
                        <p class="text-gray-600"> Dernière modification le {{ post.updated_at|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }} </p>
                    </div>
                </div>
            </div>
    </div>
</div>


{% if idUser is not  empty and role > 0  %}
    <div class="flex justify-center sm:justify-end">
        <a class="mt-4 sm:mr-4" href="{{url}}/post/{{post.id}}/create">
            <div class="flex justify-center items-center px-4 py-2 rounded-lg bg-blue-900 hover:bg-blue-800 hover:scale-[1.02] duration-300 cursor-pointer text-white">
                Crée un commentaire
                <svg class="w-5 h-5 ml-2 mt-[0.2rem]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
        </a>

    {% if idUser == post.author or role == 2  %}
        <a class="mt-4 sm:mr-4" href="{{url}}/post/{{post.id}}/modify">
            <div class="flex justify-center items-center px-4 py-2 rounded-lg bg-green-900 hover:bg-green-800 hover:scale-[1.02] duration-300 cursor-pointer text-white">
                Modifier le post
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                </svg>

            </div>
        </a>
        <a class="mt-4 sm:mr-4" href="{{url}}/post/{{post.id}}/delete">
            <div class="flex justify-center items-center px-4 py-2 rounded-lg bg-red-900 hover:bg-red-800 hover:scale-[1.02] duration-300 cursor-pointer text-white">
                Supprimer le post
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>

            </div>
        </a>
    {% endif %}
    </div>
{% endif %}

{% for comment in comments %}
    <div class="p-10">
        <!--Card 1-->
        <div class="w-full lg:max-w-full lg:flex border-r border-b border-l rounded-lg border-gray-400 lg:border-t lg:border-gray-400 shadow-md hover:bg-gray-100 duration-150">
            <a class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('{{url}}/avatars/{{ comment.author }}.jpg')" href="{{url}}/user/{{comment.author}}">  </a>
                <div class="rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                    <div class="mb-8">
                        <p class="text-gray-700 text-base">{{ comment.body }}</p>
                    </div>
                    <div class="flex items-center">
                        <div class="text-sm">
                            <p class="text-gray-600"> Dernière modification le {{ comment.updated_at|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }} </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    {% if idUser is not  empty %}
        <div class="flex justify-center sm:justify-end">
        {% if idUser == post.author or role == 2  %}
            {% if  comment.valide == 0 %}
                <a class="mt-4 sm:mr-4" href="{{url}}/post/{{post.id}}/{{comment.id}}/valide">
                    <div class="flex justify-center items-center px-4 py-2 rounded-lg bg-blue-900 hover:bg-blue-800 hover:scale-[1.02] duration-300 cursor-pointer text-white">
                        Valider
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>

                    </div>
                </a>
            {% endif %}
        {% endif %}
        {% if  role == 2 or idUser == comment.author  %}
            <a class="mt-4 sm:mr-4"href="{{url}}/post/{{post.id}}/{{comment.id}}/modify">
                <div class="flex justify-center items-center px-4 py-2 rounded-lg bg-green-900 hover:bg-green-800 hover:scale-[1.02] duration-300 cursor-pointer text-white">
                    Modifier
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                    </svg>

                </div>
            </a>
            <a class="mt-4 sm:mr-4"href="{{url}}/post/{{post.id}}/{{comment.id}}/delete">
                <div class="flex justify-center items-center px-4 py-2 rounded-lg bg-red-900 hover:bg-red-800 hover:scale-[1.02] duration-300 cursor-pointer text-white">
                    Supprimer
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>

                </div>
            </a>
        {% endif %}
            </div>
    {% endif %}
{% endfor %}
</html>