<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {{ t }} </title>
</head>
    <p>  {{ post.title }} de {{ post.body }}</p>


{% if idUser is not  empty %}
    <a href="http://localhost/Unlinkedout/post/{{post.id}}/create">crée un commentaire</a>
    {% if idUser == post.author or role == 2  %}
        <a href="http://localhost/Unlinkedout/post/{{post.id}}/delete">supprimer</a>
        <a href="http://localhost/Unlinkedout/post/{{post.id}}/modify">modifier</a>
    {% endif %}
{% endif %}

{% for comment in comments %}
    <p>  {{ comment.author }} de {{ comment.body }}</p>
    {% if idUser is not  empty %}
        {% if idUser == post.author or role == 2  %}
        <a href="http://localhost/Unlinkedout/post/{{post.id}}/{{comment.id}}/delete">supprimer</a>
        <a href="http://localhost/Unlinkedout/post/{{post.id}}/{{comment.id}}/modify">modifier</a>
            {% if  comment.valide == 0 %}
                <a href="http://localhost/Unlinkedout/post/{{post.id}}/{{comment.id}}/valide">valider</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</html>