<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {{ t }} </title>
</head>
<table class="border-collapse border border-slate-500 ...">
    <thead>
    <tr>
        <th class="border border-slate-600 ...">pseudo</th>
        <th class="border border-slate-600 ...">{{ author.name }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="border border-slate-700 ...">prenom</td>
        <td class="border border-slate-700 ...">{{ author.firstname }}</td>
    </tr>
    <tr>
        <td class="border border-slate-700 ...">nom</td>
        <td class="border border-slate-700 ...">{{  author.lastname}}</td>
    </tr>
    <tr>
        <td class="border border-slate-700 ...">email</td>
        <td class="border border-slate-700 ...">{{ author.email }}</td>
    </tr>
    <tr>
        {% if idUser == author.id or role == 2  %}
            <td class="border border-slate-700 ..."><a href="http://localhost/Unlinkedout/user/{{author.id}}/modify">modifer</a></td>
            <td class="border border-slate-700 ..."><a href="http://localhost/Unlinkedout/user/{{author.id}}/delete">supprimer</a></td>
        {% endif %}

    </tr>
    </tbody>
</table>

</html>